body {
    font-family: Arial, sans-serif;
    padding: 20px;
   
} 

input, button { 
    padding: 10px;
    margin: 5px;
    background-color: #e6f7ff; 
    color: #005580; 
}

#country-info, #bordering-countries {
    margin-top: 20px;
    color: #00334d; 
}

img {
    width: 150px;
    height: auto;
    margin: 10px 0;
    border: 1px solid #b3d9ff; 
}
